*.swp
*.bin
*.checkpoint
*ShaderCache*
*PCTOC*
*.log
*.obj
*IphoneTOC*

Binaries/

Development/Flash/AS2/CLIK/
Development/Flash/AS3/CLIK/

Development/Intermediate/

Development/Src/Core
Development/Src/Engine
Development/Src/GFxUI
Development/Src/GFxUIEditor
Development/Src/GameFramework
Development/Src/IpDrv
Development/Src/MyMod
Development/Src/OnlineSubsystemGameCenter
Development/Src/OnlineSubsystemPC
Development/Src/OnlineSubsystemSteamworks
Development/Src/SubstanceAir
Development/Src/SubstanceAirEd
Development/Src/UDKBase
Development/Src/UnrealEd
Development/Src/WinDrv

Engine/

UDKGame/Content/Shared/

UDKGame/Autosaves/
UDKGame/Build/
UDKGame/CookedIPhone/
UDKGame/Localization/
UDKGame/Movies/
UDKGame/ProjectTemplates/
UDKGame/PTOC*
UDKGame/Script/
UDKGame/Splash/